SECRET_KEY='create-your-own-django-secret-key'
DEBUG=True
ALLOWED_HOSTS=[]

CELERY_BROKER_URL='redis://localhost:6379/0'
CELERY_RESULT_BACKEND='redis://localhost:6379/0'

DATABASE_NAME='cinema'
DATABASE_USER='rosemia'
DATABASE_PASSWORD='MiaGames16'
DATABASE_HOST='localhost'
DATABASE_PORT='5432'