{% extends 'cinema/base.html' %}

{% block title %}Create Cinema Hall{% endblock %}

{% block content %}
    <div class="features">
        <h1>Create Cinema Hall</h1>
        <br>

        {% if messages %}
            {% for message in messages %}
                {% if message.tags == 'success' %}
                    <div class="success-message" style="color: limegreen; margin-bottom: 5px">{{ message }}</div>
                {% endif %}
            {% endfor %}
        {% endif %}

        <form method="post">
            {% csrf_token %}

            {% for error in form.name.errors %}
                <p class="error-message">{{ error }}</p>
            {% endfor %}

            <label for="id_name">Enter Hall Name:</label><br>
            {{ form.name }}<br>
            <label for="id_size">Enter Hall Size:</label><br>
            {{ form.size }}<br>

            <button class="btn btn-primary login-button" type="submit">Create</button>
        </form>
    <a href="{% url 'schedule_page' %}" class="nav_link_px_login">Cancel creation</a>
    </div>
{% endblock %}