{% extends 'cinema/base.html' %}

{% block title %}Create Session{% endblock %}

{% block content %}
    {% if messages %}
        {% for message in messages %}
            {% if message.tags == 'success' %}
                <div class="success-message" style="color: limegreen; margin-bottom: 5px">{{ message }}</div>
            {% endif %}
        {% endfor %}
    {% endif %}

    <div class="features">
        <h1>Create Session</h1>
        <br>
        <form method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <div class="error-message">{{ error }}</div>
                {% endfor %}
            {% endif %}

            <label for="id_film">Choose a Film:</label><br>
            {{ form.film }}<br>

            <label for="id_hall">Choose a Hall:</label><br>
            {{ form.hall }}<br>

            <label for="id_price">Enter the Session Price:</label><br>
            {{ form.price }}<br>

            <label for="id_start_time">Enter the Start Time:</label><br>
            {{ form.start_time }}<br>

            <label for="id_end_time">Enter the End Time:</label><br>
            {{ form.end_time }}<br>

            <label for="id_start_date">Enter the Start Date:</label><br>
            {{ form.start_date }}<br>

            <label for="id_end_date">Enter the End Date:</label><br>
            {{ form.end_date }}<br>

            <button class="btn btn-primary login-button" type="submit">Create</button>
        </form>
    <a href="{% url 'schedule_page' %}" class="nav_link_px_login">Cancel creation</a>
    </div>
{% endblock %}
